<!--================================
         START HERO AREA
=================================-->
<section class="hero-area">
    <div class="hero-slider owl-action-styled">
        <div class="hero-slider-item hero-bg-1">
            <div class="container">
                <div class="hero-content">
                    <div class="section-heading">
                        <h2 class="section__title text-white fs-65 lh-80 pb-3">We Help You Learn <br> What You Love</h2>
                        <p class="section__desc text-white pb-4">Emply dummy text of the printing and typesetting industry orem Ipsum has been the
                            <br>industry's standard dummy text ever sinceprinting and typesetting industry.
                        </p>
                    </div><!-- end section-heading -->
                    <div class="hero-btn-box d-flex flex-wrap align-items-center pt-1">
                        <a routerLink="/signup" class="btn theme-btn mr-4 mb-4">Join with Us <i class="la la-arrow-right icon ml-1"></i></a>
                       
                    </div><!-- end hero-btn-box -->
                </div><!-- end hero-content -->
            </div><!-- end container -->
        </div><!-- end hero-slider-item -->
        <div class="hero-slider-item hero-bg-2">
            <div class="container">
                <div class="hero-content text-center">
                    <div class="section-heading">
                        <h2 class="section__title text-white fs-65 lh-80 pb-3">Join MAmin & Get <br> Your Free Courses!</h2>
                        <p class="section__desc text-white pb-4">Emply dummy text of the printing and typesetting industry orem Ipsum has been the
                            <br>industry's standard dummy text ever sinceprinting and typesetting industry.
                        </p>
                    </div><!-- end section-heading -->
                    <div class="hero-btn-box d-flex flex-wrap align-items-center pt-1 justify-content-center">
                        <a routerLink="/signup" class="btn theme-btn mr-4 mb-4">Get Started <i class="la la-arrow-right icon ml-1"></i></a>
                        
                    </div><!-- end hero-btn-box -->
                </div><!-- end hero-content -->
            </div><!-- container -->
        </div><!-- end hero-slider-item -->
        <div class="hero-slider-item hero-bg-3">
            <div class="container">
                <div class="hero-content text-right">
                    <div class="section-heading">
                        <h2 class="section__title text-white fs-65 lh-80 pb-3">Learn Anything, <br> Anytime, Anywhere</h2>
                        <p class="section__desc text-white pb-4">Emply dummy text of the printing and typesetting industry orem Ipsum has been the
                            <br>industry's standard dummy text ever sinceprinting and typesetting industry.
                        </p>
                    </div>
                    <div class="hero-btn-box d-flex flex-wrap align-items-center pt-1 justify-content-end">
                       
                        <a routerLink="/courses" class="btn theme-btn mb-4"><i class="la la-arrow-left icon mr-1"></i>Get Enrolled </a>
                    </div><!-- end hero-btn-box -->
                </div><!-- end hero-content -->
            </div><!-- container -->
        </div><!-- end hero-slider-item -->
    </div><!-- end hero-slide -->
</section><!-- end hero-area -->
<!--================================
        END HERO AREA
=================================-->