.hero-bg-1 {
    background-image: url(/assets/images/slider-img1.jpg)
}

.hero-bg-2 {
    background-image: url(/assets/images/slider-img2.jpg)
}

.hero-bg-3 {
    background-image: url(/assets/images/slider-img3.jpg)
}