<!--================================
         START TESTIMONIAL AREA
=================================-->
<section class="testimonial-area bg-gray section--padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-content-wrap pb-4">
                    <div class="section-heading">
                        <h2 class="section__title mb-3">From the MAmin community</h2>
                        <p class="section__desc">
                            Donec vitae orci sed dolor rutrum auctor. Duis arcu tortor, suscipit eget, imperdiet nec
                        </p>
                    </div><!-- end section-heading -->
                    <div class="btn-box mt-28px">
                        <a routerLink="/about" class="btn theme-btn">Explore all <i class="la la-arrow-right icon ml-1"></i></a>
                    </div>
                </div>
            </div><!-- end col-lg-4 -->
            <div class="col-lg-8">
                <h3 class="fs-22 font-weight-medium pb-3">30+ million people are already learning on MAmin</h3>
                <div class="testimonial-carousel-2 owl-action-styled owl-action-styled-2">
                    <div class="card card-item">
                        <div class="card-body">
                            <p class="card-text">
                                I really recommend this site to all my friends and anyone who’s willing to
                                learn real skills. This platform gives
                                you the opportunity to learn from experts at a convenient time.
                            </p>
                            <div class="media media-card align-items-center pt-4">
                                <div class="media-img avatar-md">
                                    <img src="assets/images/small-avatar-1.jpg" alt="Testimonial avatar" class="rounded-full">
                                </div>
                                <div class="media-body">
                                    <h5>Kevin Martin</h5>
                                    <div class="d-flex align-items-center pt-1">
                                        <span class="lh-18 pr-2">Student</span>
                                        <div class="review-stars">
                                            <span class="la la-star"></span>
                                            <span class="la la-star"></span>
                                            <span class="la la-star"></span>
                                            <span class="la la-star"></span>
                                            <span class="la la-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end media -->
                        </div><!-- end card-body -->
                    </div><!-- end card -->
                    <div class="card card-item">
                        <div class="card-body">
                            <p class="card-text">
                                I really recommend this site to all my friends and anyone who’s willing to
                                learn real skills. This platform gives
                                you the opportunity to learn from experts at a convenient time.
                            </p>
                            <div class="media media-card align-items-center pt-4">
                                <div class="media-img avatar-md">
                                    <img src="assets/images/small-avatar-2.jpg" alt="Testimonial avatar" class="rounded-full">
                                </div>
                                <div class="media-body">
                                    <h5>Oliver Beddows</h5>
                                    <div class="d-flex align-items-center pt-1">
                                        <span class="lh-18 pr-2">Student</span>
                                        <div class="review-stars">
                                            <span class="la la-star"></span>
                                            <span class="la la-star"></span>
                                            <span class="la la-star"></span>
                                            <span class="la la-star"></span>
                                            <span class="la la-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end media -->
                        </div><!-- end card-body -->
                    </div><!-- end card -->
                    <div class="card card-item">
                        <div class="card-body">
                            <p class="card-text">
                                I really recommend this site to all my friends and anyone who’s willing to
                                learn real skills. This platform gives
                                you the opportunity to learn from experts at a convenient time.
                            </p>
                            <div class="media media-card align-items-center pt-4">
                                <div class="media-img avatar-md">
                                    <img src="assets/images/small-avatar-3.jpg" alt="Testimonial avatar" class="rounded-full">
                                </div>
                                <div class="media-body">
                                    <h5>Jackob Hallac</h5>
                                    <div class="d-flex align-items-center pt-1">
                                        <span class="lh-18 pr-2">Student</span>
                                        <div class="review-stars">
                                            <span class="la la-star"></span>
                                            <span class="la la-star"></span>
                                            <span class="la la-star"></span>
                                            <span class="la la-star"></span>
                                            <span class="la la-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end media -->
                        </div><!-- end card-body -->
                    </div><!-- end card -->
                </div><!-- end testimonial-carousel-2 -->
            </div><!-- end col-lg-8 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end testimonial-area -->
<!--================================
        END TESTIMONIAL AREA
=================================-->