<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area section-padding img-bg-3">
    <div class="overlay z-index-n1"></div>
    <div class="container">
        <div class="breadcrumb-content">
            <div class="section-heading">
                <h5 class="ribbon ribbon-lg ribbon-white mb-2">Welcome to aduca</h5>
                <h2 class="section__title fs-45 lh-60 text-white">Improve Your Lives <br> With Learning</h2>
            </div>
            <div class="breadcrumb-btn-box pt-40px pl-3">
                <a href="#" class="btn-text text-white video-play-btn d-inline-flex align-items-center" data-fancybox data-src="https://www.youtube.com/watch?v=cRXm1p-CNyk">
                    <span class="icon-element icon-element-md pulse-btn mr-3"><i class="la la-play"></i></span>Watch the Video
                </a>
            </div>
        </div><!-- end breadcrumb-content -->
    </div><!-- end container -->
</section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->
<!--======================================
        START ABOUT AREA
======================================-->
<section class="about-area section--padding overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content pb-5">
                    <div class="section-heading">
                        <h2 class="section__title pb-3 lh-50">The leading global marketplace for learning and instruction</h2>
                        <p class="section__desc">Nemo enim ipsam,voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia,consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, adipisci velit, sed quia non numquam eius modi tempora</p>
                    </div><!-- end section-heading -->
                    <ul class="generic-list-item pt-3">
                        <li><i class="la la-check-circle mr-2 text-success"></i>Online Courses with full discount systems.</li>
                        <li><i class="la la-check-circle mr-2 text-success"></i>Online Certificates which can be used worldwide.</li>
                        <li><i class="la la-check-circle mr-2 text-success"></i>An online leadership development program at Aduca.</li>
                    </ul>
                </div><!-- end about-content -->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6">
                <div class="generic-img-box generic-img-box-layout-2">
                    <div class="img__item img__item-1">
                        <img class="lazy" src="assets/images/img8.jpg"  alt="About image">
                        <div class="generic-img-box-content">
                            <h3 class="fs-24 font-weight-semi-bold pb-1">55K</h3>
                            <span>Instructors</span>
                        </div>
                    </div>
                    <div class="img__item img__item-2">
                        <img class="lazy" src="assets/images/img10.jpg" alt="About image">
                        <div class="generic-img-box-content">
                            <h3 class="fs-24 font-weight-semi-bold pb-1">6,900+</h3>
                            <span>Courses</span>
                        </div>
                    </div>
                    <div class="img__item img__item-3">
                        <img class="lazy" src="assets/images/img12.jpg"  alt="About image">
                        <div class="generic-img-box-content">
                            <h3 class="fs-24 font-weight-semi-bold pb-1">40M</h3>
                            <span>Learners</span>
                        </div>
                    </div>
                </div><!-- end generic-img-box -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end about-area -->
<!--======================================
        END ABOUT AREA
======================================-->
<!--======================================
        START GET STARTED AREA
======================================-->
<section class="get-started-area pt-30px pb-120px position-relative">
    <span class="ring-shape ring-shape-1"></span>
    <span class="ring-shape ring-shape-2"></span>
    <span class="ring-shape ring-shape-3"></span>
    <span class="ring-shape ring-shape-4"></span>
    <span class="ring-shape ring-shape-5"></span>
    <span class="ring-shape ring-shape-6"></span>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 responsive-column-half">
                <div class="card card-item hover-s text-center">
                    <div class="card-body">
                        <img src="assets/images/small-img-2.jpg" data-src="assets/images/small-img-2.jpg" alt="card image" class="img-fluid lazy rounded-full">
                        <h5 class="card-title pt-4 pb-2">Personalized learning</h5>
                        <p class="card-text">Students practice at their own pace, first filling in gaps in their understanding and then accelerating their learning.</p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4 responsive-column-half">
                <div class="card card-item hover-s text-center">
                    <div class="card-body">
                        <img src="assets/images/small-img-3.jpg" data-src="assets/images/small-img-3.jpg" alt="card image" class="img-fluid lazy rounded-full">
                        <h5 class="card-title pt-4 pb-2">Trusted content</h5>
                        <p class="card-text">Created by experts, Coursector library of trusted practice and lessons covers math, science, and more.</p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4 responsive-column-half">
                <div class="card card-item hover-s text-center">
                    <div class="card-body">
                        <img src="assets/images/small-img-4.jpg" data-src="assets/images/small-img-4.jpg" alt="card image" class="img-fluid lazy rounded-full">
                        <h5 class="card-title pt-4 pb-2">Empower teachers</h5>
                        <p class="card-text">With Coursector, teachers can identify gaps in their students’ understanding, tailor instruction</p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
        <p class="text-center">Want to join with us? See our<a href="careers.html" class="text-color hover-underline"> open positions</a></p>
    </div><!-- end container -->
</section><!-- end get-started-area -->
<!-- ================================
       START GET STARTED AREA
================================= -->
<!--======================================
        START OUR MISSION AREA
======================================-->
<section class="our-mission-area section--padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row pb-5">
                    <div class="col-lg-6 responsive-column-half">
                        <div class="img-box">
                            <img src="assets/images/img8.jpg" data-src="assets/images/img8.jpg" alt="our mission image" class="img-fluid lazy rounded-rounded">
                        </div>
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6 responsive-column-half">
                        <div class="img-box my-3">
                            <img src="assets/images/img10.jpg" data-src="assets/images/img10.jpg" alt="our mission image" class="img-fluid lazy rounded-rounded">
                        </div>
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6 responsive-column-half">
                        <div class="img-box">
                            <img src="assets/images/img11.jpg" data-src="assets/images/img11.jpg" alt="our mission image" class="img-fluid lazy rounded-rounded">
                        </div>
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6 responsive-column-half">
                        <div class="img-box my-3">
                            <img src="assets/images/img12.jpg" data-src="assets/images/img12.jpg" alt="our mission image" class="img-fluid lazy rounded-rounded">
                        </div>
                    </div><!-- end col-lg-6 -->
                </div>
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6">
                <div class="about-content pl-4">
                    <div class="section-heading">
                        <h2 class="section__title pb-3 lh-50">Our Mission</h2>
                        <p class="section__desc pb-3">We’re not one of those companies. We are rethinking education from the bottom up. The web has rethought nearly everything - commerce, social networking, healthcare, and more. We are building the education the world needs - the first truly net native education. We take more cues from modern tech innovators in creating an engaging educational experience than we do from the classroom.</p>
                        <p class="section__desc text-black">Education is broken. Come help us build the education the world deserves.</p>
                    </div><!-- end section-heading -->
                </div><!-- end about-content -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end our-mission-area -->
<!--======================================
        END OUR MISSION AREA
======================================-->
<app-footer></app-footer>

<!-- Created by : Mohamed amin ben messaoud  -->
<!-- phone Number : +216 50 125 689 -->