<!-- ======================================
        START HEADER AREA
    ======================================-->
<header class="header-menu-area bg-white">
    <div class="header-top pr-150px pl-150px border-bottom border-bottom-gray">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="header-widget">
                        <ul class="generic-list-item d-flex flex-wrap align-items-center fs-14">
                            <li class="d-flex align-items-center pr-3 mr-3 border-right border-right-gray"><i
                                    class="la la-phone mr-1"></i><a routerLink="signup"> (+216) 50 125 689</a></li>
                            <li class="d-flex align-items-center"><i class="la la-envelope-o mr-1"></i><a
                                    routerLink="signup">
                                    contact@mamin.com</a></li>
                        </ul>
                    </div><!-- end header-widget -->
                </div><!-- end col-lg-6 -->
                <div class="col-lg-6">
                    <div class="header-widget d-flex flex-wrap align-items-center justify-content-end">
                        <div class="theme-picker d-flex align-items-center border-right border-right-gray mr-3 pr-3">
                            <button class="theme-picker-btn dark-mode-btn" title="Dark mode">
                                <svg id="moon" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                                </svg>
                            </button>
                            <button class="theme-picker-btn light-mode-btn" title="Light mode">
                                <svg id="sun" viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="5"></circle>
                                    <line x1="12" y1="1" x2="12" y2="3"></line>
                                    <line x1="12" y1="21" x2="12" y2="23"></line>
                                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                    <line x1="1" y1="12" x2="3" y2="12"></line>
                                    <line x1="21" y1="12" x2="23" y2="12"></line>
                                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                                </svg>
                            </button>
                        </div>
                        <div class="shop-cart">


                        </div>
                    </div><!-- end header-widget -->
                </div><!-- end col-lg-6 -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </div><!-- end header-top -->
    <div class="header-menu-content pr-150px pl-150px bg-white">
        <div class="container-fluid">
            <div class="main-menu-content">
                <a routerLink="/" class="down-button"><i class="la la-angle-down"></i></a>
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="logo-box justify-content-between">
                            <a routerLink="/" class="logo"><img src="assets/images/logo.png" alt="logo"></a>
                            <div class="user-btn-action">
                                <div class="off-canvas-menu-toggle cat-menu-toggle icon-element icon-element-sm shadow-sm mr-2"
                                    data-toggle="tooltip" data-placement="top" title="Category menu">
                                    <i class="la la-th-large"></i>
                                </div>
                                <div class="off-canvas-menu-toggle main-menu-toggle icon-element icon-element-sm shadow-sm"
                                    data-toggle="tooltip" data-placement="top" title="Main menu">
                                    <i class="la la-bars"></i>
                                </div>
                            </div>
                            <div class="menu-category border-left border-left-gray pl-4">
                                <ul>
                                    <li>
                                        <a routerLink="/courses"><i class="fa-sharp fa-solid fa-list"></i> Categories
                                        </a>
                                        <ul class="cat-dropdown-menu">
                                            <li>
                                                <a routerLink="/courses">Accounting &amp; Personal
                                                    Finance</a>

                                            </li>
                                            <li>
                                                <a routerLink="/courses">Art &amp; Design</a>

                                            </li>
                                            <li>
                                                <a routerLink="/courses">Business
                                                    Management</a>

                                            <li>
                                                <a routerLink="/courses">IT &amp; Software</a>

                                            </li>
                                            <li>
                                                <a routerLink="/courses">Communication &amp; Speech</a>

                                            </li>
                                            <li>
                                                <a routerLink="/courses">History</a>

                                            </li>
                                            <li>
                                                <a routerLink="/courses">Journalism &amp; Writing </a>

                                            </li>
                                            <li>
                                                <a routerLink="/courses">Physical Education</a>

                                            </li>
                                            <li>
                                                <a routerLink="/courses">Political Science </a>
                                            </li>
                                            <li>
                                                <a routerLink="/courses">Music</a>
                                            </li>
                                            <li>
                                                <a routerLink="/courses">Other</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><!-- end menu-category -->
                        </div>
                    </div><!-- end col-lg-2 -->
                    <div class="col-lg-9">
                        <div class="menu-wrapper">
                            <nav class="main-menu">
                                <ul>
                                    <li>
                                        <a routerLink="">Home</a>
                                    </li>
                                    <li>
                                        <a routerLink="courses">Courses</a>

                                    </li>
                                    <li>
                                        <a routerLink="teachers">Teachers</a>

                                    </li>
                                    <li>
                                        <a routerLink="blogs">Blogs </a>
                                    </li>
                                    <li>
                                        <a routerLink="about">About</a>

                                    </li>

                                </ul><!-- end ul -->
                            </nav><!-- end main-menu -->
                            <div class="shop-cart user-profile-cart" *ngIf="userIsAuthenticated">
                                <ul>
                                    <li>
                                        <div class="shop-cart-btn">
                                            <div class="avatar-xs">
                                                <img class="rounded-full img-fluid" [src]="user.img" alt="Avatar image">
                                            </div>
                                            <span class="dot-status bg-1"></span>
                                        </div>
                                        <ul class="cart-dropdown-menu after-none p-0 notification-dropdown-menu">
                                            <li class="menu-heading-block d-flex align-items-center">
                                                <a [routerLink]="['/dashboard-profil/',user._id]"
                                                    class="avatar-sm flex-shrink-0 d-block">
                                                    <img class="rounded-circle img-fluid" [src]="user.img"
                                                        alt="Avatar image">
                                                </a>
                                                <div class="ml-2">
                                                    <h4><a [routerLink]="['/dashboard-profil/', user._id]"
                                                            class="text-black">{{user.firstName}} {{user.lastName}}</a>
                                                    </h4>
                                                    <span class="d-block fs-14 lh-20">{{user.email}}</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div
                                                    class="theme-picker d-flex align-items-center justify-content-center lh-40">
                                                    <button
                                                        class="theme-picker-btn dark-mode-btn w-100 font-weight-semi-bold justify-content-center"
                                                        title="Dark mode">
                                                        <svg class="mr-1" viewBox="0 0 24 24" stroke-width="1.5"
                                                            stroke-linecap="round" stroke-linejoin="round">
                                                            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z">
                                                            </path>
                                                        </svg>
                                                        Dark Mode
                                                    </button>
                                                    <button
                                                        class="theme-picker-btn light-mode-btn w-100 font-weight-semi-bold justify-content-center"
                                                        title="Light mode">
                                                        <svg class="mr-1" viewBox="0 0 24 24" stroke-width="1.5"
                                                            stroke-linecap="round" stroke-linejoin="round">
                                                            <circle cx="12" cy="12" r="5"></circle>
                                                            <line x1="12" y1="1" x2="12" y2="3"></line>
                                                            <line x1="12" y1="21" x2="12" y2="23"></line>
                                                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                                            <line x1="1" y1="12" x2="3" y2="12"></line>
                                                            <line x1="21" y1="12" x2="23" y2="12"></line>
                                                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                                                        </svg>
                                                        Light Mode
                                                    </button>
                                                </div>
                                            </li>
                                            <li>
                                                <ul class="generic-list-item">
                                                    <li>
                                                        <a (click)="goToDashboardProfile()"
                                                            routerLink="dashboard-profil">
                                                            <i class="la la-gear mr-1"></i> Dashboard
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <div class="section-block"></div>
                                                    </li>
                                                    <li *ngIf="user.role == 'teacher' || user.role == 'student'">
                                                        <a routerLink="/dashboard-courses">
                                                            <i class="la la-file-video-o mr-1"></i> My courses
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <div class="section-block"></div>
                                                    </li>
                                                    <li>
                                                        <a [routerLink]="['/dashboard-profil/', user._id]">
                                                            <i class="la la-user mr-1"></i> Public profile
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a routerLink="/dashboard-settings">
                                                            <i class="la la-edit mr-1"></i> Edit profile
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <div class="section-block"></div>
                                                    </li>

                                                    <li>
                                                        <a routerLink="" (click)="logout()">
                                                            <i class="la la-power-off mr-1"></i> Logout
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><!-- end shop-cart -->
                            <div class="nav-right-button" *ngIf="!userIsAuthenticated">
                                <a routerLink="login"
                                    class="btn theme-btn theme-btn-sm lh-26 theme-btn-transparent mr-2"><i
                                        class="la la-sign-in mr-1"></i> Login</a>
                                <a routerLink="signup" class="btn theme-btn theme-btn-sm lh-26 shadow-none"><i
                                        class="la la-plus mr-1"></i> Sign up</a>
                            </div><!-- end nav-right-button -->
                        </div><!-- end menu-wrapper -->
                    </div><!-- end col-lg-9 -->
                </div><!-- end row -->
            </div>
        </div><!-- end container-fluid -->
    </div><!-- end header-menu-content -->
    <div class="body-overlay"></div>
</header>
<!--======================================
                END HEADER AREA
        ====================================== -->