<div class="media media-card border-bottom border-bottom-gray pb-4 mb-4">
    <div class="media-img mr-4 rounded-full">
        <img class="rounded-full lazy" [src]="inputFeedback.img"
             alt="User image">
    </div>
    <div class="media-body" >
        <div class="d-flex flex-wrap align-items-center justify-content-between pb-1">
            <h5>{{inputFeedback.firstName}}</h5>
           
        </div>
        <p class="pb-2">{{inputFeedback.message}}</p>
        <div class="helpful-action">
            <span class="d-block fs-13"></span>
           
        </div>
    </div>

</div><!-- end review-wrap -->